body {
    background-color: rgb(49, 49, 49);
    margin: 0;
    font-family: sans-serif;
    color: rgb(230, 230, 230);
}

.packet {
    display: flex;
    flex-wrap: wrap;
    background-color: #2f2f2f;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    gap: 0.5rem;
}

.packet.accept {
    border-left: 0.5rem solid #00ff37;
    padding-left: 0.5rem;
}

.packet.drop {
    border-left: 0.5rem solid #c30000;
    padding-left: 0.5rem;
}

.direction {
    font-family: monospace;
    font-size: 0.9rem;
    display: inline-block;
}

.direction.left {
    text-align: right;
}

.direction.right {
    text-align: left;
}

.direction.arrow {
    font-size: 1.5rem;
    color: #888;
    line-height: 1rem;
}

.labels {
    display: inline-flex;
    gap: 0.3rem;
    width: 11rem;
}

.label {
    background-color: #4a4a4a;
    padding: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.2rem;
    border-radius: 0.3rem;
    font-size: 0.6rem;
}


/* Hide less important fields on small screens */
@media (max-width: 800px) {
    .packet-item.PayloadLen,
    .packet-item.Indev,
    .packet-item.Outdev {
        display: none;
    }
}

@media (max-width: 550px) {
    .packet-item.Family {
        display: none;
    }

    .packet-item.Hostname {
        flex-basis: 2rem;
        font-weight: bold;
    }
}


.header {
    display: flex;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "Helvetica Neue", Helvetica, Verdana, Tahoma, sans-serif;
    background-color: rgb(36, 36, 36);
    color: #e6e6e6;
}

.header .title {
    flex-basis: max-content;
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: 700;
}

.header .search {
    flex-grow: 1;
}

.header .buttons {
    flex-basis: max-content;
    display: flex;
    justify-content: flex-end;
}

.header .buttons button {
    background-color: rgb(0, 153, 33);
    color: #e6e6e6;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}