[Unit]
Description=Server Daemon
After=network.target

[Service]
ExecStart=/usr/bin/ulogd_monitor server --http.addr 127.0.0.1:10212 --grpc.addr 127.0.0.1:10211
Restart=always
User=0
Group=0
EnvironmentFile=-/etc/default/server

[Install]
WantedBy=multi-user.target